.body {
    padding-top: 60px;
}

.protect { /* スマホでの長押し操作で画像を保存されるのを無効にする処理 */
    pointer-events:none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-touch-callout:none;
    -moz-user-select:none;
    touch-action:none;
    user-select:none;
}

img {
    pointer-events: none; /* 画像をドラッグ＆ドロップさせない・右クリックで保存させない処理 */
}

/* 見出し(About) */
.About-index {
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: black;
    color: white;
    background-color: #c83e36;
}

/* プロフィールの部分 */
.profile-container {
    border-bottom: 2px solid;;   /* 枠線を実線として追加、幅は4px */
    border-color: black; /* 枠線の色を指定 */
    margin-top: -2px;
}

.profile-text {
    max-width: 75%;
    margin-top: 20px; /* 上の余白を指定 */
    margin-right: auto;
    margin-left: auto;
}

.outer-profile {
    display: flex;
    flex-wrap: wrap; /* display: flex;の下に追加することで、レスポンシブ対応になる。 */
}


/* 将来像の部分 */
.future-container {
    border-bottom: 2px solid;
    border-color: black;
    margin-top: -2px;
}

.future-text {
    max-width: 75%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.outer-future {
    display: flex;
    flex-wrap: wrap;
}

/* 趣味の部分 */
.hobby-container {
    border-bottom: 2px solid;
    border-color: black;
    margin-top: -2px;
}

.hobby-text {
    max-width: 75%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.outer-hobby {
    display: flex;
    flex-wrap: wrap;
}

.hobby-picture {
    box-shadow: 12px 12px 4px gray;
    margin-top: 25px;
    margin-bottom: 50px;
}

/* 見出し(Works) */
.Works-index {
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: black;
    margin-top: -2px;
    color: white;
    background-color: #305089;
}

/* Worksの部分 */

/* ひと言掲示板(PHP) */
.work0 {
    border-bottom: 2px solid;
    border-color: black;
    margin-top: -2px;
}

.work0-text {
    max-width: 75%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.outer-work0 {
    display: flex;
    flex-wrap: wrap;
}

.work0-writings {
    list-style: none;
}

.work0-picture {
    box-shadow: 12px 12px 4px gray;
    margin-top: 25px;
    margin-bottom: 50px;
}

/* Twitterクローン */
.work1 {
    border-bottom: 2px solid;
    border-color: black;
    margin-top: -2px;
}

.work1-text {
    max-width: 75%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.outer-work1 {
    display: flex;
    flex-wrap: wrap;
}

.work1-writings {
    list-style: none;
}

.work1-picture {
    box-shadow: 12px 12px 4px gray;
    margin-top: 25px;
    margin-bottom: 50px;
}

/* Laravel-TODOアプリ */
.work2 {
    border-bottom: 2px solid;
    border-color: black;
    margin-top: -2px;
}

.work2-text {
    max-width: 75%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.outer-work2 {
    display: flex;
    flex-wrap: wrap;
}

.work2-writings {
    list-style: none;
}

.work2-picture {
    box-shadow: 12px 12px 4px gray;
    margin-top: 25px;
    margin-bottom: 50px;
}

/* Laravel-会員管理システム(CRUD) */
.work3 {
    border-bottom: 2px solid;
    border-color: black;
    margin-top: -2px;
}

.work3-text {
    max-width: 75%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.outer-work3 {
    display: flex;
    flex-wrap: wrap;
}

.work3-writings {
    list-style: none;
}

.work3-picture-1 {
    box-shadow: 12px 12px 4px gray;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.work3-picture-2 {
    box-shadow: 12px 12px 4px gray;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.work3-picture-3 {
    box-shadow: 12px 12px 4px gray;
    margin-bottom: 50px;
}

/* 見出し(Contact) */
.Contact-index {
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: black;
    margin-top: -2px;
    color: white;
    background-color: black;
}

/* フッター */
.footer {
    text-align: center;
    color: black;
    background-color: white;
}

.contact {
    margin-top: 20px;
    margin-bottom: 20px;
}